### EXPLORING DATA

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('Loan_Default.csv')

In [ ]:
df.shape

In [ ]:
df.columns

In [66]:
df.head()

,ID,year,loan_limit,Gender,approv_in_adv,loan_type,loan_purpose,Credit_Worthiness,open_credit,business_or_commercial,...,credit_type,Credit_Score,co-applicant_credit_type,age,submission_of_application,LTV,Region,Security_Type,Status,dtir1
0,24890,2019,cf,Sex Not Available,nopre,type1,p1,l1,nopc,nob/c,...,EXP,758,CIB,25-34,to_inst,98.728814,south,direct,1,45.0
1,24891,2019,cf,Male,nopre,type2,p1,l1,nopc,b/c,...,EQUI,552,EXP,55-64,to_inst,75.135870,North,direct,1,39.0
2,24892,2019,cf,Male,pre,type1,p1,l1,nopc,nob/c,...,EXP,834,CIB,35-44,to_inst,80.019685,south,direct,0,46.0
3,24893,2019,cf,Male,nopre,type1,p4,l1,nopc,nob/c,...,EXP,587,CIB,45-54,not_inst,69.376900,North,direct,0,42.0
4,24894,2019,cf,Joint,pre,type1,p1,l1,nopc,nob/c,...,CRIF,602,EXP,25-34,not_inst,91.886544,North,direct,0,39.0

In [ ]:
df.info()

In [ ]:
df.isnull().sum()

In [ ]:
df.describe()

### CLEANING

#### Step : 01
I have drop Upfront_charges, Interest_rate_spread, and rate_of_interest columns because they have a lot of missing values and are not core features for predicting default.

In [ ]:
df.drop(columns=['Upfront_charges', 'rate_of_interest', 'Interest_rate_spread'], inplace=True)

#### Step : 02

For numeric columns we fill missing values with the median, and for categorical columns we fill with the most frequent value (mode) so there are no NaNs left in the dataset.

In [ ]:
# Handling Numerical Values

numerical_columns = ['property_value', 'LTV', 'dtir1', 'income']

for col in numerical_columns:
    df[col] = df[col].fillna(df[col].median())

In [ ]:
# Handling Categorical Columns

categorical_columns = ['loan_limit', 'approv_in_adv', 'submission_of_application', 'age', 'loan_purpose', 'Neg_ammortization', 'term']

for col in categorical_columns:
    df[col] = df[col].fillna(df[col].mode()[0])

In [ ]:
df.isnull().sum().sum()

#### Step : 03

saving the cleaned dataset into a new file.

In [67]:
df.to_csv('cleaned_loan_default.csv', index=False)