# Bank Marketing Dataset - Introduction

Bank Marketing Dataset is a marketing-response dataset from a bank campaign used for loan acceptance classification. Helps analyze which groups (job, age, marital) are more likely to accept offers. I have downloaded this data from UCL Machine Learning Repository as said in the task.

## Exploring Data

In [1]:
import pandas as pd
import os

In [2]:
print(os.path.exists('bank-additional-full.csv')) # checking if the path exists

True

In [ ]:
df = pd.read_csv('bank-additional-full.csv', sep=';') # loading the dataset using ';' delimeter

In [4]:
df.shape # checking no.of rows and columns

(41188, 21)

In [5]:
df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')

In [13]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.isnull().sum().sum() # checking the total no of null values

np.int64(0)