# Medical Cost Personal Dataset - Introduction

Medical Cost Personal Dataset is a numeric-heavy dataset used for insurance charge regression (predicting medical charges). Contains features such as age, BMI, children, smoker, sex, and region, making it suitable for cost estimation modeling.

## Inspecting & Loading Dataset

In [1]:
import pandas as pd
import os

In [ ]:
print(os.path.exists('insurance.csv')) # checking the path

True

In [ ]:
df = pd.read_csv('insurance.csv') # loading the dataset

In [ ]:
df.shape # checking no.of rows and columns

In [11]:
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [10]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [ ]:
df.describe() # viewing statistical summary

In [ ]:
df.isnull().sum().sum() # checking null values if any