# Churn Modelling Dataset - Introduction

Churn Modelling Dataset is a tabular dataset containing bank customer details like geography and gender, used to predict customer churn (leave the bank) and study feature importance for business insights. I have downloaded this dataset from Kaggle to complete Task 2

In [1]:
import pandas as pd

## Loading & Inspecting Dataset

In [2]:
df = pd.read_csv('vib_churn_dataset_final.csv') # loading the dataset

In [3]:
df.shape # checking the shape

(66736, 30)

In [4]:
df.head(10) # viewing first 10 rows

,Customer_number,Client_gender,Age,Staff_VIB,Tenure,SMS,Verify_method,EB_register_channel,No_Activity_Name,Type_Transactions,...,Avg_TermDeposit_Balance,Max_TermDeposit_Balance,Min_TermDeposit_Balance,No_Loan,Avg_Loan_Balance,Max_Loan_Balance,Min_Loan_Balance,No_CC,No_DC,Churn
0,1,0,28.215615,1,19.918800,0,1,0,1,7,...,2.778291e+07,4.297395e+07,8.143434e+05,4,2.134182e+07,3.628493e+07,6.139306e+06,1,0,0
1,2,1,28.744430,0,8.076794,1,0,0,11,3,...,1.020093e+06,1.323149e+06,2.380507e+04,0,2.519806e+06,3.799277e+06,7.046202e+05,0,2,1
2,3,0,35.406264,0,11.641340,0,1,0,8,6,...,3.301211e+06,4.550049e+06,9.072812e+05,0,1.389617e+07,2.167573e+07,2.676174e+06,1,0,1
3,4,1,31.186114,0,22.163064,1,1,2,13,5,...,5.901529e+06,1.177052e+07,6.160315e+05,4,2.126704e+07,2.609320e+07,1.665175e+06,2,0,0
4,5,0,42.555118,0,21.800850,0,0,0,6,8,...,3.607055e+07,4.406522e+07,5.763604e+06,1,4.620992e+07,6.357315e+07,1.049171e+07,0,0,0
5,6,0,20.461942,0,13.227729,0,2,1,9,1,...,4.050478e+06,6.922582e+06,1.195881e+06,1,2.799116e+06,4.242030e+06,8.397495e+05,0,1,1
6,7,1,44.434197,0,14.300110,0,1,0,8,8,...,7.844594e+06,9.075345e+06,2.502087e+05,0,9.693443e+06,1.497130e+07,2.647464e+06,0,1,0
7,8,0,48.208734,0,7.889344,1,1,0,1,8,...,5.197868e+05,7.548617e+05,1.547203e+04,0,3.235275e+06,3.717879e+06,5.119422e+05,1,0,0
8,9,0,42.836443,0,3.850351,0,1,0,13,5,...,-3.497636e+04,-3.417899e+04,-1.422926e+04,0,1.216962e+05,-4.272232e+04,4.528891e+04,0,0,1
9,10,0,18.000000,0,18.670069,1,1,0,11,2,...,9.862394e+06,1.814918e+07,2.342461e+06,1,9.675165e+06,1.645420e+07,7.502650e+05,0,0,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66736 entries, 0 to 66735
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Customer_number             66736 non-null  int64
 1   Client_gender               66736 non-null  int64
 2   Age                         66736 non-null  float64
 3   Staff_VIB                   66736 non-null  int64
 4   Tenure                      66736 non-null  float64
 5   SMS                         66736 non-null  int64
 6   Verify_method               66736 non-null  int64
 7   EB_register_channel         66736 non-null  int64
 8   No_Activity_Name            66736 non-null  int64
 9   Type_Transactions           66736 non-null  int64
 10  Total_trans_no              66736 non-null  float64
 11  Avg_Trans_no_month          66736 non-null  float64
 12  Avg_Trans_Amount            66736 non-null  float64
 13  Max_Trans_Amount            66736 non-null  float64
 14  Min_Trans_Amount            66736 non-null  float64
 15  No_CurrentAccount           66736 non-null  int64
 16  Avg_CurrentAccount_Balance  66736 non-null  float64
 17  Max_CurrentAccount_Balance  66736 non-null  float64
 18  Min_CurrentAccount_Balance  66736 non-null  float64
 19  No_TermDeposit              66736 non-null  int64
 20  Avg_TermDeposit_Balance     66736 non-null  float64
 21  Max_TermDeposit_Balance     66736 non-null  float64
 22  Min_TermDeposit_Balance     66736 non-null  float64
 23  No_Loan                     66736 non-null  int64
 24  Avg_Loan_Balance            66736 non-null  float64
 25  Max_Loan_Balance            66736 non-null  float64
 26  Min_Loan_Balance            66736 non-null  float64
 27  No_CC                       66736 non-null  int64
 28  No_DC                       66736 non-null  int64
 29  Churn                       66736 non-null  int64
dtypes: float64(16), int64(14)
memory usage: 15.3 MB

In [6]:
df.describe()

,Customer_number,Client_gender,Age,Staff_VIB,Tenure,SMS,Verify_method,EB_register_channel,No_Activity_Name,Type_Transactions,...,Avg_TermDeposit_Balance,Max_TermDeposit_Balance,Min_TermDeposit_Balance,No_Loan,Avg_Loan_Balance,Max_Loan_Balance,Min_Loan_Balance,No_CC,No_DC,Churn
count,66736.000000,66736.000000,66736.000000,66736.000000,66736.000000,66736.000000,66736.000000,66736.000000,66736.000000,66736.000000,...,6.673600e+04,6.673600e+04,6.673600e+04,66736.000000,6.673600e+04,6.673600e+04,6.673600e+04,66736.000000,66736.000000,66736.000000
mean,33368.500000,0.550243,35.155292,0.049059,12.241216,0.397911,0.901582,0.795987,7.512962,5.013756,...,1.022630e+07,1.683689e+07,2.048585e+06,0.995580,1.479236e+07,2.181719e+07,2.797656e+06,0.401897,0.597504,0.350006
std,19265.168119,0.497473,9.588401,0.215993,7.241866,0.489471,0.539107,0.870892,4.036339,2.577857,...,1.160878e+07,1.971859e+07,2.806785e+06,0.999601,1.671240e+07,2.526366e+07,3.645640e+06,0.650256,0.789699,0.476975
min,1.000000,0.000000,18.000000,0.000000,0.500000,0.000000,0.000000,0.000000,1.000000,1.000000,...,-8.215481e+06,-1.094156e+07,-2.540230e+06,0.000000,-1.286394e+07,-2.057609e+07,-2.709203e+06,0.000000,0.000000,0.000000
25%,16684.750000,0.000000,28.246449,0.000000,6.834017,0.000000,1.000000,0.000000,4.000000,3.000000,...,2.335025e+06,3.713618e+06,3.136429e+05,0.000000,3.358608e+06,4.813562e+06,5.081313e+05,0.000000,0.000000,0.000000
50%,33368.500000,1.000000,34.973129,0.000000,12.056704,0.000000,1.000000,0.000000,8.000000,5.000000,...,6.624387e+06,1.061132e+07,1.050913e+06,1.000000,9.519497e+06,1.377810e+07,1.555717e+06,0.000000,0.000000,0.000000
75%,50052.250000,1.000000,41.684999,0.000000,17.232382,1.000000,1.000000,2.000000,11.000000,7.000000,...,1.400168e+07,2.280137e+07,2.642903e+06,2.000000,2.043514e+07,2.990114e+07,3.661763e+06,1.000000,1.000000,1.000000
max,66736.000000,1.000000,75.000000,1.000000,44.219325,1.000000,2.000000,2.000000,14.000000,9.000000,...,1.430752e+08,2.717959e+08,3.827794e+07,4.000000,2.331454e+08,3.882776e+08,6.554562e+07,3.000000,3.000000,1.000000

In [7]:
df.isnull().sum().sum() # checking the total null values

np.int64(0)

## Dropping extra columns

In [8]:
df.drop(columns=['Customer_number'], inplace=True)

In [9]:
df.shape

(66736, 29)

# Saving cleaned Dataset

In [ ]:
df.to_csv('cleaned_churn_dataset.csv', index=False) # saved the cleaned dataset for further use.